@model IndexViewModel

@{
    ViewData["Title"] = "GetAllProduct";
}

<h1>All products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("GetAllProduct", "Home", FormMethod.Get))
  {
      <p>
          Max price @Html.TextBox("maxPrice", ViewBag.maxPrice as string)
          Min price @Html.TextBox("minPrice", ViewBag.minPrice as string)
          Search  @Html.TextBox("searchString", ViewBag.searchString as string)
          <input type="submit" value="Filter" />
      </p>

    <table class="table">
        <thead>         
            <tr>
                <th>
                    ID
                </th>
                @{
                    string[] names = new string[] { "Nomi", " Description", "Cost", "AddTime", "ExpireTime" };
                    for(int i=0; i<5; i++)
                    {
                        <th>
                            @Html.ActionLink($"{names[i]}", "GetAllProduct", new { sortOrder = ViewBag.DateSortParm, searchString = ViewBag.searchString, maxPrice = ViewBag.maxPrice, minPrice = ViewBag.minPrice, page = ViewBag.page, indexColumn = i })               
                        </th>
                    }
                }
            <th>
                Miqdor
            </th>       
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
      }
    </tbody>
    </table>

    @if (Model.Pager.EndPage > 1)
				{
					<ul class="pagination">
						@if (Model.Pager.CurrentPage > 1)
						{
							<li>
                                @Html.ActionLink($"First", "GetALlProduct", new {sortOrder = ViewBag.DateSortParm, searchString = ViewBag.searchString, maxPrice = ViewBag.maxPrice, minPrice=ViewBag.minPrice, page=1})
								
							</li>					
						}
                       
						@for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
						{
							<li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                @Html.ActionLink($"{@page}", "GetALlProduct", new {sortOrder = ViewBag.DateSortParm, searchString = ViewBag.searchString, maxPrice = ViewBag.maxPrice, minPrice=ViewBag.minPrice, page=page})
							</li>
						}

						@if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
						{
							<li>
                                @Html.ActionLink($"Last", "GetALlProduct", new {sortOrder = ViewBag.DateSortParm, searchString = ViewBag.searchString, maxPrice = ViewBag.maxPrice, minPrice=ViewBag.minPrice, page=Model.Pager.EndPage})
							</li>
						}
					</ul>
				}

  }